<!-- templates/vehicles/vehicle_detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ vehicle.brand.name }} {{ vehicle.model }}{% endblock %}

{% block content %}
<h2>{{ vehicle.brand.name }} {{ vehicle.model }} ({{ vehicle.year_of_manufacture }})</h2>

<div class="vehicle-display">
    <div class="main-image-container">
        {% if main_image %}
            <img id="mainImage" src="{{ main_image.image.url }}" alt="{{ vehicle.model }}" class="main-image">
        {% else %}
            <img id="mainImage" src="{% static 'images/no_image_available.png' %}" alt="No Image Available" class="main-image">
        {% endif %}
    </div>

    <div class="vehicle-details">
        <p><strong>Price:</strong> ${{ vehicle.price_in_usd }}</p>
        <p><strong>Brand:</strong> {{ vehicle.brand.name }}</p>
        <p><strong>Model:</strong> {{ vehicle.model }}</p>
        <p><strong>Country of Manufacture:</strong> {{ vehicle.country_of_manufacture }}</p>
        <p><strong>Engine Displacement:</strong> {{ vehicle.engine_displacement }}</p>
        <p><strong>Fuel Type:</strong> {{ vehicle.fuel_type }}</p>
        <p><strong>Number of Doors:</strong> {{ vehicle.number_of_doors }}</p>
        <p><strong>Year of Manufacture:</strong> {{ vehicle.year_of_manufacture }}</p>
    </div>
</div>

<h3>Gallery</h3>
<div class="gallery">
    {% for image in images %}
        <img src="{{ image.image.url }}" alt="{{ vehicle.model }}" class="gallery-image" onclick="document.getElementById('mainImage').src='{{ image.image.url }}'">
    {% endfor %}
</div>

{% if user.is_staff %}
    <h3>Subir nueva imagen</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        <button type="submit">Subir</button>
    </form>
{% endif %}

<h3>Comments</h3>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'comment_create' vehicle.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
{% else %}
    <p>You need to be logged in to add comments.</p>
{% endif %}

<ul>
    {% for comment in comments %}
    <li>
        <p><strong>{{ comment.user.username }}</strong> ({{ comment.created_at }}):</p>
        <p>{{ comment.text }}</p>
        {% if user.is_authenticated %}
            {% if user == comment.user or user.is_staff %}
                <a href="{% url 'comment_update' comment.pk %}">Edit</a>
                <form method="post" action="{% url 'comment_delete' comment.pk %}" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?');">Delete</button>
                </form>
            {% endif %}
        {% endif %}
    </li>
    {% empty %}
    <li>No comments yet.</li>
    {% endfor %}
</ul>

{% endblock %}
